*.gpg

auto-save-list/*
games/*
workspace/*
eln-cache/*
elpa/*
.cache/*
straight/*
temp/*
tree-sitter/*
url/*

projects
.dap-breakpoints
.lsp-session-v1
.mbsyncrc
recentf
tramp
eww-bookmarks
projectile-bookmarks.eld

eca/eca
eca/eca.zip
eca/eca-version

